### THIS FILE IS MANAGED BY SALTSTACK
{%- set clusterIpRange =  pillar['kubernetes']['global']['clusterIP-range'] -%} 
{%- set hostname = salt['grains.get']('fqdn') -%}
{%- set node01 =  pillar['kubernetes']['master']['cluster']['node01']['hostname'] -%} 
{%- set node02 =  pillar['kubernetes']['master']['cluster']['node02']['hostname'] -%} 
{%- set node03 =  pillar['kubernetes']['master']['cluster']['node03']['hostname'] -%} 
{%- set node01ip =  pillar['kubernetes']['master']['cluster']['node01']['ipaddr'] -%} 
{%- set node02ip =  pillar['kubernetes']['master']['cluster']['node02']['ipaddr'] -%} 
{%- set node03ip =  pillar['kubernetes']['master']['cluster']['node03']['ipaddr'] -%} 
{%- set ca_root_dir =  pillar['kubernetes']['ca_root_dir'] -%} 
{% if hostname == node01 %}
	{% set currentip = node01ip %}
{% elif hostname == node02 %}
	{% set currentip = node02ip %}
{% elif hostname == node03 %}
	{% set currentip = node03ip %}
{% else %}
	{% set currentip = "127.0.0.1" %}
{% endif %}

[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/bin/kube-apiserver \
  --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --advertise-address={{ currentip }}   \
  --bind-address=0.0.0.0 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/lib/audit.log \
  --allow-privileged=true \
  --authorization-mode=RBAC \
  --enable-swagger-ui=true \
  --etcd-cafile={{ ca_root_dir}}/ca.pem \
  --etcd-certfile={{ ca_root_dir}}/kubernetes.pem \
  --etcd-keyfile={{ ca_root_dir }}/kubernetes-key.pem \
  --kubelet-certificate-authority={{ ca_root_dir }}/ca.pem \
  --client-ca-file={{ ca_root_dir}}/ca.pem \
  --service-cluster-ip-range={{ clusterIpRange }} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file={{ ca_root_dir }}/kubernetes.pem \
  --tls-private-key-file={{ ca_root_dir }}/kubernetes-key.pem \
  --enable-bootstrap-token-auth \
  --token-auth-file={{ ca_root_dir}}/token.csv \
  --service-account-key-file={{ ca_root_dir}}/ca-key.pem \
  --runtime-config=batch/v2alpha1=true  \
  --insecure-bind-address=127.0.0.1 \
  --event-ttl=1h \
  --apiserver-count=1 \
  --kubelet-https=true \
  --apiserver-count=3 \
  --runtime-config=api/all \
  --experimental-encryption-provider-config={{ ca_root_dir }}/encryption-config.yaml \
  --etcd-servers=https://{{ node01ip }}:2379,https://{{ node02ip }}:2379,https://{{ node03ip }}:2379 \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
